<%= simple_form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    
    <%= f.input :day_timeslot do %>
      <%= f.select :day_timeslot_id, DayTimeslot.all.map{|j| [j.jcon, j.id]}, :include_blank => true %>
    <% end %>

    <%= f.input :section_subject  do %>
      <%= f.select :section_subject_id, SectionSubject.all.map{|j| [j.jcon, j.id]}, :include_blank => true %>
    <% end %>
    
    <%= f.input :professor do %> 
        <%= f.select :professor_id, Professor.all.map{|j| [j.procon, j.id]}, :include_blank => true %>
    <% end %>

    <%= f.association :room %>
  
    <%= f.button :submit %>
  
<% end %>
