<%= simple_form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.association :day %>
  
    <%= f.input :timeslot do %>
      <%= f.select :timeslot, Timeslot.all.map{|t| [t.timecon, t.id]}, :include_blank => true %>
    <% end %>
  
    <%= f.input :section do %>
      <%= f.select :section, Section.all.map{|s| [s.seccon, s.id]}, :include_blank => true %>
    <% end %>
  
    <%= f.association :subject %>
  
    <%= f.input :professor do %>
      <%= f.select :professor, Professor.all.map{|p| [p.procon, p.id]}, :include_blank => true %>
    <% end %>

  
    <%= f.association :room %>
  
    <%= f.button :submit %>
  
<% end %>
