<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @schedule.day %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @schedule.timeslot %>
</p>

<p>
  <strong>Section:</strong>
  <%= @schedule.section %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @schedule.subject %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @schedule.professor %>
</p>

<p>
  <strong>Room:</strong>
  <%= @schedule.room %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
