<p id="notice"><%= notice %></p>

<p>
  <strong>Day timeslot:</strong>
  <%= @schedule.day_timeslot %>
</p>

<p>
  <strong>Section subject:</strong>
  <%= @schedule.section_subject %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @schedule.professor %>
</p>

<p>
  <strong>Room:</strong>
  <%= @schedule.room %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
