<list>
<li><%= link_to 'Days', days_path %><br /></li>
<li><%= link_to 'Timeslots', timeslots_path %><br /></li>
<li><%= link_to 'Rooms', rooms_path %><br /></li>
<li><%= link_to 'Departments', departments_path %><br /></li>
<li><%= link_to 'Sections', sections_path %><br /></li>
<li><%= link_to 'Subjects', subjects_path %><br /></li>
<li><%= link_to 'Professors', professors_path %><br /></li>
</list>