<div id="system">

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>The System</h1>

<table><tr><td></td>



</tr>

<% @schedules.each do |schedule| %>

<tr><td>
	
	<%= schedule.section_subject.jcon if schedule.day_timeslot.timeslot_id == 2 %><br>
	<%= schedule.room.name if schedule.day_timeslot.timeslot_id == 2 %><br>
	<%= schedule.professor.procon if schedule.day_timeslot.timeslot_id == 2 %><br>
</td></tr>

<tr><td>
<%= schedule.section_subject.jcon if schedule.day_timeslot.timeslot_id == 3 %><br>
<%= schedule.room.name if schedule.day_timeslot.timeslot_id == 3 %><br>
<%= schedule.professor.procon if schedule.day_timeslot.timeslot_id == 3 %><br>
</td></tr>


<% end %>

</table>

</div>