<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @day.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @day.desc %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
