<h1>Listing section_subjects</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Subject</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @section_subjects.each do |section_subject| %>
      <tr>
        <td><%= section_subject.subject.name %></td>
        <td><%= section_subject.section.seccon %></td>
        
        <td><%= link_to 'Show', section_subject %></td>
        <td><%= link_to 'Edit', edit_section_subject_path(section_subject) %></td>
        <td><%= link_to 'Destroy', section_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section subject', new_section_subject_path %>
